<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <!-- MATERIAL ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- <script defer src="script/main.js"></script> -->
  <title>Blog</title>
  <script>
    setTimeout(() => {
      document.querySelectorAll('.profile-user').forEach(e => e.value = localStorage.getItem('token'))
    }, 300)
  </script>
</head>
<body>
  <header>
    <nav class="navbar">
      <a class="navbar-brand" href="/">Blog</a>
      <!-- <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <ul class="navbar-nav">
        <li class="nav-item" id="home-link">
          <form action="/posts" method="post">
            <input class="profile-user" type="text" name="authorization" style="display: none;">
            <button class="profile-nav-link" type="submit">Home</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="/user/me" method="post">
            <input class="profile-user" type="text" name="authorization" style="display: none;">
            <button class="profile-nav-link" type="submit">
              <span class="material-icons">account_circle</span> user
            </button>
          </form>
        </li>
      </ul>
      <form action="/user/signout" method="post">
        <input class="profile-user" type="text" name="authorization" style="display: none;">
        <button class="profile-nav-link" type="submit">
          <span class="material-icons">login</span> Logout
        </button>
      </form>
      <!-- <a class="nav-link" href="/user/signout">
        <span class="material-icons">login</span> Logout
      </a> -->
    </nav>
  </header>
    <div class="container">
