<%- include('partials/header') %>

  <form action="/user/signup" method="POST" class="signup-form">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" required>
    <label for="checkbox"><input type="checkbox" id="checkbox" name="checkbox" required> Accept <small>Terms and Condition</small></label>
    <button type="submit">Register</button>
  </form>
  <p>Already a user? <a href="/signin">SignIn</a></p>

<%- include('partials/footer') %>