<%- include('partials/header') %>

  <form class="signin-form">
    <label for="email">Email</label>
    <input type="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" id="password" required>
    <button type="submit">SignIn</button>
  </form>

<%- include('partials/footer') %>